# Application env
SERVICE_PORT=

MYSQL_READ_USERNAME=
MYSQL_READ_PASSWORD=
MYSQL_READ_HOST=
MYSQL_READ_DBNAME=
MYSQL_READ_CHARSET=
MYSQL_READ_POOL=

MYSQL_WRITE_USERNAME=
MYSQL_WRITE_PASSWORD=
MYSQL_WRITE_HOST=
MYSQL_WRITE_DBNAME=
MYSQL_WRITE_CHARSET=
MYSQL_WRITE_POOL=

ELASTICSEARCH_URL=

MONGO_HOST=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DBNAME=
MONGO_SET_NAME=
MONGO_MAX_POOL_SIZE=
MONGO_MIN_POOL_SIZE=
MONGO_TIMEOUT_SECOND=

REDIS_HOST=
REDIS_USE_SENTINEL=
REDIS_MASTER_NAME=
